<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjdddd.mapper.BookingMapper">
    <resultMap id="BaseResultMap" type="com.sjdddd.entity.Booking">
        <!--@mbg.generated-->
        <!--@Table gym_booking-->
        <id column="booking_id" jdbcType="BIGINT" property="bookingId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="course_id" jdbcType="BIGINT" property="courseId"/>
        <result column="coach_id" jdbcType="BIGINT" property="coachId"/>
        <result column="booking_date" jdbcType="TIMESTAMP" property="bookingDate"/>
        <result column="isEnrolledByCurrentUser" jdbcType="CHAR" property="isEnrolledByCurrentUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        booking_id, user_id, course_id, coach_id, booking_date, isEnrolledByCurrentUser
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from gym_booking
        where booking_id = #{bookingId,jdbcType=BIGINT}
    </select>
    <select id="selectCourseStatus" resultType="java.lang.String">
        select b.isEnrolledByCurrentUser
        from gym_booking b
        where course_id = #{courseId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="selectByUserIdAndCourseId" resultType="com.sjdddd.entity.Booking">
        select *
        from gym_booking
        where course_id = #{courseId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
        and isEnrolledByCurrentUser = '1'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from gym_booking
        where booking_id = #{bookingId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="booking_id" keyProperty="bookingId" parameterType="com.sjdddd.entity.Booking"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into gym_booking (user_id, course_id, coach_id, booking_date, isEnrolledByCurrentUser
        )
        values (#{userId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{coachId,jdbcType=BIGINT}, #{bookingDate,jdbcType=TIMESTAMP}, #{isEnrolledByCurrentUser,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" keyColumn="booking_id" keyProperty="bookingId"
            parameterType="com.sjdddd.entity.Booking" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into gym_booking
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="coachId != null">
                coach_id,
            </if>
            <if test="bookingDate != null">
                booking_date,
            </if>
            <if test="isEnrolledByCurrentUser != null">
                isEnrolledByCurrentUser,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=BIGINT},
            </if>
            <if test="coachId != null">
                #{coachId,jdbcType=BIGINT},
            </if>
            <if test="bookingDate != null">
                #{bookingDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isEnrolledByCurrentUser != null">
                #{isEnrolledByCurrentUser,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sjdddd.entity.Booking">
        <!--@mbg.generated-->
        update gym_booking
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=BIGINT},
            </if>
            <if test="coachId != null">
                coach_id = #{coachId,jdbcType=BIGINT},
            </if>
            <if test="bookingDate != null">
                booking_date = #{bookingDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isEnrolledByCurrentUser != null">
                isEnrolledByCurrentUser = #{isEnrolledByCurrentUser,jdbcType=CHAR},
            </if>
        </set>
        where booking_id = #{bookingId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sjdddd.entity.Booking">
        <!--@mbg.generated-->
        update gym_booking
        set user_id = #{userId,jdbcType=BIGINT},
        course_id = #{courseId,jdbcType=BIGINT},
        coach_id = #{coachId,jdbcType=BIGINT},
        booking_date = #{bookingDate,jdbcType=TIMESTAMP},
        isEnrolledByCurrentUser = #{isEnrolledByCurrentUser,jdbcType=CHAR}
        where booking_id = #{bookingId,jdbcType=BIGINT}
    </update>
    <update id="updateByBookingStatus">
        update gym_booking
        set isEnrolledByCurrentUser = '0'
        where course_id = #{courseId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
    </update>

    <delete id="deleteByCourseId">
        delete from gym_booking
        where course_id = #{courseId,jdbcType=BIGINT}
    </delete>
    <delete id="delete">
        delete from gym_booking
        where course_id = #{courseId,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
    </delete>
</mapper>
